<!-- DESTACADO START -->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="420">
  <tr>
    <td>
      <p style="margin: 0px 0px 8px;"><font size="3" style="color:#000000; font-size:18px; line-height: 22px;"><b>[title]</b></font></p>
      [has_subtitle]<p style="margin: 5px 0px;"><font color="0077b0" size="2" style="color:#0077b0; font-size:15px">[subtitle]</font></p>[/has_subtitle]
      <font size="2" style="font-size:15px">[description]
      <a href="#" style="color:#000000; text-decoration: none;"><b>Leer más [+]</b></a></font>                        
    </td>
  </tr>
</table>
<!-- DESTACADO END -->