<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>[TITLE]</title>
  <style>
    body {
      font-family: Arial;
      color: #000000;
      background:#ffffff;
    }
    a:link {
      color: #000000;
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
      color: #000000;
    }
    a:hover {
      text-decoration: none;
      color: #000000;
    }
    a:active {
      text-decoration: none;
      color: #000000;
    }
  </style>
</head>
<body bgcolor="ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <br/>
  <div style="font-size:9px; text-align:center;">
    <a href="%WEBCOPY%"><font size="1" color="000000" family="Arial" 
      style="font-size:9px;line-height: 12px;">Si no puedes ver esta newsletter haz click <b>aquí</b></font></a>
  </div>
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background: white; margin-bottom: 0 !important;">
    <tr>
      <td align="center">
        <!-- HEADER START -->
        <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td align="center">
              <a href="https://www.spri.eus/es/">
                <font size="7" color="000000" family="Arial" style="font-size: 20px; line-height: 24px;">
                  <b><img src="https://content.app-us1.com/0GNAr/2023/09/04/41f3570f-815e-4c2c-9732-beb4f70da2fa.jpeg" 
                    alt="Boletín de demanda y oferta tecnológica - Selección semanal | Eskaintza eta eskaera teknologiaren buletina - Asteko aukeraketa" 
                    border="0" width="600" /></b>
                </font>
              </a>
            </td>
          </tr>
          <tr>
            <td height="30"></td>
          </tr>
        </table>
        <!-- HEADER END -->
        <table border="0" cellspacing="0" cellpadding="15" width="520">
          <tr>
            <td>    
              <!-- CONTENT START -->
              [MAIN]
              <!-- CONTENT START -->
            </td>
          </tr>    
        </table>
        <!-- FOOTER START -->
        <table border="0" cellspacing="0" cellpadding="15" width="520">
          <tr>
            <td>							
              <hr/>
            </td>
          </tr>	
          <tr>
            <td align="center">
              <font family="Arial" size="3" style="font-size: 18px; line-height: 22px;">La empresa vasca<br/>está aquí</font>
            </td>
          </tr>
          <tr>
            <td align="center">
              <a href="https://www.youtube.com/user/grupoSPRI" target="_blank">
                <font size="3" family="Arial" color="000000"><img src="https://www.spri.eus/c/uploads/img-newsletter/youtube.jpg" alt="Youtube | " border="0" /></font>
              </a>

              <a href="https://www.linkedin.com/company/grupospri" target="_blank">
                <font size="3" family="Arial" color="000000"><img src="https://www.spri.eus/c/uploads/img-newsletter/linkedin.jpg" alt="Linkedin | " border="0" /></font>
              </a>

              <a href="https://twitter.com/grupospri" target="_blank">
                <font size="3" family="Arial" color="000000"><img src="https://www.spri.eus/c/uploads/img-newsletter/twitter.jpg" alt="Twitter | " border="0" /></font>
              </a>

              <a href="https://www.spri.eus/es/rss-2/" target="_blank">
                <font size="3" family="Arial" color="000000"><img src="https://www.spri.eus/c/uploads/img-newsletter/rss.jpg" alt="RSS" border="0" /></font>
              </a>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table border="0" cellspacing="0" cellpadding="0" width="70%">
                <tr>
                  <td align="center">
                    <p style="font-size:10px; color: #000000;">
                      %SENDER-INFO-SINGLELINE% <strong>Tel.: <a href="tel:+34900929393" style="color: #000000; text-decoration: none;">900 929 393</a> <a href="mailto:info@spri.es" style="color: #000000;">info@spri.eus</a> </strong>
                    </p>
                  </td>
                </tr>
              </table>
              <p style="font-size:10px; color: #000000;">Le informamos que SPRI-Agencia Vasca de Desarrollo Empresarial trata sus datos personales 
                con la finalidad de informarle de las actividades y servicios de la sociedad, todo ello sobre la base de su consentimiento o al amparo 
                del interés legítimo de esta entidad (actividades de mercadotecnia con clientes). Puede ejercitar sus derechos a acceder, rectificar 
                y suprimir sus datos, limitar su tratamiento y oponerse al mismo, así como su derecho a la portabilidad en cualquier momento enviando 
                un correo electrónico a la dirección <a href="mailto:lopd@spri.eus" style="color: #000000; text-decoration: underline;">lopd@spri.eus</a>. 
                Si no desea recibir en el futuro nuevas comunicaciones puede solicitarlo a través del siguiente 
                <a href="%UNSUBSCRIBELINK%" style="color: #000000; text-decoration: underline;" target="_blank">enlace</a>. Recuerde que siempre puede 
                seleccionar sus preferencias y recibir solo lo que le interesa <a href="https://www.spri.eus/es/preferencias-de-tus-suscripciones/?wpatg_tab=login" 
                  style="color: #000000; text-decoration: underline;" target="_blank">editando su suscripción</a>.</p>
              <p style="font-size:10px; color: #000000;">
                <a href="https://www.spri.eus/es/preferencias-de-tus-suscripciones/?wpatg_tab=login" 
                  style="color: #000000; text-decoration: none;" target="_blank">Editar mi suscripción </a> |
                <a href="%UNSUBSCRIBELINK%" style="color: #000000; text-decoration: none;" target="_blank">Darse de baja</a> |
                <a href="https://www.spri.eus/es/preferencias-de-tus-suscripciones/?wpatg_tab=register" 
                  style="color: #000000; text-decoration: none;" target="_blank"> <span>Suscríbete</span> y recibe nuestras comunicaciones </a> | 
                <a href="https://www.spri.eus/es/aviso-legal/" 
                  style="color: #000000; text-decoration: none;" target="_blank"> Información legal </a>
              </p>
            </td>
          </tr>
        </table>
        <!-- FOOTER END -->
      </td>
    </tr>
  </table>
</body>
</html>
