<table bgcolor="efefed" cellspacing="0" cellpadding="0" width="100%" style="width:100% !important;">
  <tr>
    <td colspan="3">
      <img align="center" alt="" src="https://content.app-us1.com/0GNAr/2022/12/22/5eeb85bb-4541-44d6-9250-378a2d6f0b9a.jpeg" 
        alt="" width="100%" height="46">
    </td>
  </tr>
  <tr>
    <td width="15"></td>
    <td width="490">
      <img src="https://content.app-us1.com/0GNAr/2022/12/22/79fa73f2-d1fe-408d-a9ba-c9d19b26e100.png" 
        alt="" width="59" height="70"><br>
      <font size="5" style="color:#0077b0; font-size:22px;"><b>Eventos</b></font>
      <br/><hr>
    </td>
    <td width="15"></td>
  </tr>
</table>